@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$primary: #00ccff;
$secondary: #6c757d;
$success: #10713D;
$info: $secondary;
$warning: #8C5C03;
$danger: #9E2821;
$light: #f8f9fa;
$link-color: $primary;

@import '../node_modules/bootstrap/scss/bootstrap';

#copyright{
  text-align: center;
}

#home{
  text-align: center;
}


.img-small{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 3px;
}

.home-background {
  /* The image used */
  background-image: url(./Media/index_homepage.jpg);

  /* Full height */
  height: 780px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.creator-background {
  /* The image used */
  background-image: url(./Media/doctorInAfrica.jpg);

  /* Full height */
  height: 780px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.analysts-background {
  /* The image used */
  background-image: url(./Media/hazmat.jpeg);

  /* Full height */
  height: 780px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}